@import "../node_modules/ui-styles/variables";
@import "../node_modules/ui-styles/keyframes";

:host {
  position: fixed;
  display: flex;
  align-items: center;
  justify-content: center;
  top: 0;
  left: 0;
  right: 0;
  height: 100%;
  z-index: 999999;
  opacity: 1.0;
  .transition(opacity @transition);
}

:host([hide]) {
  opacity: 0;
}

:host([offscreen]) {
  top: 10%;
}

#display {
  padding: 1em;
  max-width: 40em;
  max-height: 50%;
  background-color: @white;
  @shadows: 0px 6px 20px fade(@black, @justahint),
    0px 8px 17px fade(@black, @disabled),
    0px 0px 1px -1px fade(@black, @faded) inset;
  .box-shadow(@shadows);
}
